{%extends "admin/baseAdmin.html.twig" %}

{% block admincontenido %}
    <div class="col-md-4 col-md-offset-4" id="titulo">
        <h1>Listado de usuarios</h1>
    </div>
    <div id="primerDiv" class="col-md-8 col-md-offset-2">
        <form action="/" method="POST">
            <table id="myTable2" class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th></th>
                        <th>User</th>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Edad</th>
                        <th>Rol</th>
                        <th></th>
                        <th>Escoger rol</th>

                    </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td><img id="imagenUsuario" src="{{ usuario.imagen }}" alt=""/></td>
                        <td>{{ usuario.user }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.edad }}</td>
                        <td>
                            {% if usuario.es_moderador==1 %}
                                Moderador
                            {% endif %}
                            {% if usuario.es_moderador==1 and usuario.es_redactor==1 %}
                                Moderador / Redactor
                            {% endif %}
                            {% if usuario.es_redactor==1 %}
                                Redactor
                            {% endif %}
                            {% if usuario.es_moderador==0 and usuario.es_redactor==0 %}
                                Usuario sin rol
                            {% endif %}
                        </td>
                        <td><button onclick="ConfirmDelete('{{ usuario.user }}'); return false;"  class="btn btn-danger" value="{{ usuario.id }}" name="botonAdminBorrarUsuario">Eliminar</button></td>
                        <td><div class="btn-group">
                                <button type="submit" {% if usuario.es_moderador==1 %}name="botonDesMod" class="btn btn-danger" value="{{ usuario.id }}"{% else %}name="botonCreaMod" class="btn btn-primary" value="{{ usuario.id }}"{% endif %}>Moderador</button>
                                <button type="submit" {% if usuario.es_redactor %}name="botonDesRed" class="btn btn-danger" value="{{ usuario.id }}"{% else %}name="botonCreaRed" class="btn btn-primary" value="{{ usuario.id }}"{% endif %}>Redactor</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/js/jquery.dataTables2.js"></script>
    <script>
        function ConfirmDelete(elem)
        {
            var x = confirm("¿Seguro que quieres eliminar el usuario "+elem+" ?");
            if (x)
                document.getElementById(this).submit();
            else
                return false;
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#myTable2').dataTable({
                "order": [[ 1, 'asc' ]],
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 0 ] },
                    { "bSearchable": false, "aTargets": [ 1 ] },
                    { "bSearchable": true, "aTargets": [ 2 ] },
                    { "bSearchable": false, "aTargets": [ 3 ] },
                    { "bSearchable": false, "aTargets": [ 4 ] }]
            });

        });
    </script>
{% endblock %}