<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="/imagenes/favicon.ico" />
    <title>{% block titulo %} {% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/miJs.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css" href="/sourceSem/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="/css/cs-skin-elastic.css" />
    <link rel="stylesheet" type="text/css" href="/css/cs-skin-slide.css" />
    <link rel="stylesheet" type="text/css" href="/css/set2.css" />
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>

</head>
<body {% if usuarioLoginError %}onload="document.getElementById('entrar').click()"{% endif %}>
<nav class="navbar navbar-inverse" id="elNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" id="mainTitle">CSGOPlay</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='/'>Noticias</a>
                </li>
                <li>
                    <a href='/equipos'>Equipos</a>
                </li>
                <li>
                    <a href='/usuarios'>Usuarios</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Retos<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/retos">Retos de equipo</a></li> <!-- Solo se mostrara si es admin o capitan del equipo -->
                        <li><a href="/retos1vs1">Retos 1vs1</a></li>
                        {% if usuarioLogin %}
                            <li><a href="/misRetos1vs1">Mis retos</a></li>
                        {% endif %}
                        {% if usuarioLogin['equipo_id'] %}
                            <li><a href="/misRetosEquipo">Mis retos equipo</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clasificación <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='/clas_eq'>Equipo</a></li> <!-- Solo se mostrara si es admin o capitan del equipo -->
                        <li><a href="/clas_us">Jugadores</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if retos1vs1!=null %}
    <div class="alert alert-info" role="alert" style="text-align:center;">
        <a href="/misRetos1vs1">Tienes un nuevo reto 1vs1</a>
    </div>
{% endif %}
{% if retosEquipo!=null %}
    <div class="alert alert-info" role="alert" style="text-align:center;">
        <a href="/misRetosEquipo">Tu equipo tiene nuevos retos</a>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12" id="banner">
        <div id="inicioAcciones" >
            {% if not usuarioLogin %}
                <a href="" data-toggle="modal" data-target="#myModal" id="entrar"><i class="fa fa-sign-in"></i> Entrar</a>
            {% else %}
            <div class="dropdown">
                <img src="{{ imagenUser }}" class="img-thumbnail" id="imagenUser" alt="" data-toggle="dropdown" aria-expanded="true"/>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="entrar">
                    <li role="presentation" class="dropdown-header"><span class="usuarioPanel">{{ usuarioLogin['user'] }}</span></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/miCuenta"><i class="fa fa-user"> Mi cuenta </i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/entrada"><i class="fa fa-envelope"> Mensajes <span id="badgeMensajes" class="badge">{% if numMensajes != 0 %} {{ numMensajes }} {% endif %}</span></i></a></li>
                    {% if nuevaSolicitud!='noCapi' %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/solicitudes"><i class="fa fa-child"> Solicitudes {% if nuevaSolicitud>0 %} <span id="badgeSolicitudes" class="badge">{{ nuevaSolicitud }}</span>{% endif %} </i></a></li>
                    {% endif %}
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><a href="/cerrarSesion"><i class="fa fa-sign-out">Salir</i></a></a></li>
                </ul>
            </div>

            {% endif %}
        </div>
    </div>
</div>
<div class="row">
{% block contenido %}
{% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-signin" action="/" method="post" id="formLogin">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Acceso</h4>
            </div>
            <div class="modal-body">
                {% if usuarioLoginError %}
                    <div class="alert alert-danger" role="alert" id="errorLogin">El usuario o la contraseña no son válidos</div>
                {% endif %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="account-wall">
                                <div class="input-group">
								  		<span class="input-group-addon" id="basic-addon1" id="inputLoginUser">
								  			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								  		</span>
                                    <input type="text" name="username" class="form-control" placeholder="Usuario" autofocus required >
                                </div>
                                <br/>
                                <div class="input-group">
								  		<span class="input-group-addon" id="basic-addon1" id="inputLoginPass">
								  			<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
									  	</span>
                                    <input type="password" name="password" class="form-control" placeholder="Contraseña" >
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" id="inputLoginBotones">
                <button type="submit" name="loginUsuario"  class="btn btn-primary">Entrar</button>
                <a href="/registro" name="recordar" class="btn btn-success" >Registrar<a>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div id="banner2">
        <span id="textoPie">CSGOPlay &copy; All rights reserved | Diseño realizado por Ciorraga´s Entertainment</span>
    </div>
</div>

<script src="/js/jquery.bootstrap-growl.js"></script>
{% if mensajeOk %}
    <script type="text/javascript">
        $(function() {
            setTimeout(function() {
                $.bootstrapGrowl("{{ mensajeOk }}", { type: 'success' });
            }, 1000);
        });
    </script>
{% endif %}
{% if mensajeError %}
    <script type="text/javascript">
        $(function() {
            setTimeout(function() {
                $.bootstrapGrowl("{{ mensajeError }}", { type: 'danger' });

            }, 500);
        });
    </script>
{% endif %}


{% block scripts %}
{% endblock %}

</body>
</html>