{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Equipos
{% endblock %}

{% block contenido %}
    <div class="col-md-10 col-md-offset-1" id="divPrincipalEquipos">

        <div class="col-md-8 col-md-offset-1" id="equiposSeccion">
            <h2>Mi equipo</h2>
            {% if equipo==null %}
            <form action="/" method="POST">
                <div class="jumbotron" style="padding:3%;">
                    <h1>¿Aún no tienes equipo?</h1>
                    <p>Crea un equipo y juega con tus amigos, o, utiliza el buscador ubicado en la derecha para encontrar un equipo y solicitar tu admisión a él</p>
                    <p><button class="btn btn-primary btn-lg" type="submit" name="botonCreaEquipo">Crear equipo</button></p>

                </div>
            </form>
            {% else %}
                {% for eq in equipo %}
                <div class="row">
                    <div class="col-md-4">
                        <div  id="imagenEquipo">
                        <img src="/{{ eq.logo }}"/>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1" id="datosEquipo">
                        <p><label class="labelEquipo">Nombre del equipo: </label><br/>{{ eq.nombre }} <br/></p>
                        <p><label class="labelEquipo">Creado: </label><br/>{{ eq.fecha_creacion }} <br/></p>
                        <p><label class="labelEquipo">Web: </label><br/>{{ eq.web }} <br/></p>
                        <p><label class="labelEquipo">Grupo Steam: </label><br/>{{ eq.grupo_steam }}</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row" id="integrantesEquipo">
                    <h2 id="integrantesLabel">Integrantes</h2>
                    <div class="col-md-8" id="datosUsuariosEquipo">
                        <table class="table table-striped">
                            {% for usuario in usuarios %}
                                <tr>
                                    <td><img id="imagenUsuario" src="/{{ usuario.imagen }}" alt=""/></td>
                                    <td>{{ usuario.user }}</td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.edad }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.steam }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>

            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" onkeyup="showResult(this.value)" placeholder="Buscar equipo...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i id="lupaEquipos" class="fa fa-search" ></i></button>
                  </span>

            </div>
            <div id="livesearch"></div>
        </div>


    </div>
    <script>
        function showResult(str) {
            if (str.length==0) {
                document.getElementById("livesearch").innerHTML="";
                document.getElementById("livesearch").style.border="0px";
                return;
            }
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            } else {  // code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    console.log(xmlhttp.responseText);
                    document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
                    document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                }
            }
            xmlhttp.open("GET","/buscarEquipo/"+str,true);
            xmlhttp.send();
        }
    </script>
{% endblock %}