{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Noticias
{% endblock %}

{%block contenido %}
<div id="noticias">
    <div class="col-md-8">
        {% for noticia in noticias %}
            <div class="col-md-12" style="margin-bottom:20px">
                <div class="panel panel-default" style="border-bottom:2px solid darkblue !important;">
                    <div class="panel-body">
                        <div class="page-header" style="text-align:center">
                            <h2>{{ noticia.titulo }}</h2>
                        </div>
                        <div class="panel-footer" style="text-align:right;margin-bottom:10px;">
                            <span>Noticia creada por: {{ noticia.user }} el {{ noticia.fecha }}</span>
                        </div>
                        {{ noticia.texto }}
                    </div>

                    <div class="col-md-12" style="background-color:white;padding:15px;border-top:4px solid darkblue !important;">
                        <div>
                            <h3>Comentarios</h3>
                            <hr>
                            {% for comentario in noticia.comentarios %}
                                <div class="contentComment">
                                    <a style="float:left;">
                                        <img style="padding-right:7px;width:50px;height:50px;" src="{{ comentario.imagen }}">
                                    </a>
                                    <div>
                                        <a>{{ comentario.user }}</a>
                                        <div>
                                            <span id="pepe">Enviado el: {{ comentario.fecha }}</span>
                                        </div>
                                        <div>
                                            {{ comentario.texto }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if registrado=='env' %}
                            <form class="ui reply form" action="/" method="POST">
                                <div class="field" >
                                    <textarea name="textoComentario" style="height:10%" placeholder="Escribe aquí tu comentario"></textarea>
                                </div>
                                    <button class="ui blue submit icon button" name="botonResponderNoticia" type="submit" value="{{ noticia.id }}"><i class="fa fa-paper-plane"></i>  Enviar</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
<div id="lat">
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque ea consequuntur, officiis laborum ab vel debitis enim recusandae cumque voluptatem aspernatur, sequi est, aliquam aliquid maiores dolore hic quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde vitae impedit soluta delectus, dolore incidunt deleniti hic enim ipsam deserunt, quod iste ratione maxime placeat. Voluptates, non esse laudantium?
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}
