{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Retos
{% endblock %}

{% block contenido %}
    <div class="col-md-4 col-md-offset-4" id="titulo">
        <h1>Retos</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" id="primerDiv">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="entradilla">
                Aquí podrás ver la clasificación de los equipos según los retos ganados y perdidos que hayan tenido
                Además también podrás retar a los equipos que puedes ver. ¿Te atreves?
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Próximos retos</div>
            <div class="panel-body">
                <table id="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Retador</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Retado</th>
                        <th>Fecha</th>
                        <th>Mapa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in pendientes %}
                        <tr>
                            <td>{{ elem.nombreEq1 }}</td>
                            <td><a href="/equipos/{{ elem.nombreEq1 }}"><img id="imagenReto" src="{{ elem.eq1Imagen }}"/></a></td>
                            <td><img id="imagenVs" src="/imagenes/vs.png"/></td>
                            <td><a href="/equipos/{{ elem.nombreEq2 }}"><img id="imagenReto" src="{{ elem.eq2Imagen }}"/></a></td>
                            <td>{{ elem.nombreEq2 }}</td>
                            <td>{{ elem.fecha }}</td>
                            <td>{{ elem.mapa }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Últimos retos jugados</div>
            <div class="panel-body">
                <table id="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Retador</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Retado</th>
                        <th>Fecha</th>
                        <th>Mapa</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for elem in ultimosJugados %}
                            <tr>
                                <td>{{ elem.nombreEq1 }}</td>
                                <td><img id="imagenReto" src="{{ elem.eq1Imagen }}"/></td>
                                <td id="resEq"><b>{{ elem.resEq1 }}</b></td>
                                <td><img id="imagenVs" src="/imagenes/vs.png"/></td>
                                <td id="resEq"><b>{{ elem.resEq2 }}</b></td>
                                <td><img id="imagenReto" src="{{ elem.eq2Imagen }}"/></td>
                                <td>{{ elem.nombreEq2 }}</td>
                                <td>{{ elem.fecha }}</td>
                                <td>{{ elem.mapa }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
    <script>
     /*   $(document).ready(function(){
            $('#myTable').dataTable({
                "order": [[ 4, 'desc' ]],
                "aoColumnDefs": [
                    { "bSearchable": true, "aTargets": [ 0 ] },
                    { "bSearchable": false, "aTargets": [ 1] },
                    { "bSearchable": false, "aTargets": [ 2] },
                    { "bSearchable": false, "aTargets": [ 3] },
                    { "bSearchable": false, "aTargets": [ 4] }]
            });

        });*/
    </script>
{% endblock %}
