{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Retos 1vs1
{% endblock %}

{% block contenido %}
    <div class="col-md-4 col-md-offset-4" id="titulo">
        <h1>Retos 1vs1</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" id="primerDiv">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="entradilla">
                Aquí podrás ver los últimos retos de los usuarios y los próximos retos.
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Próximos retos 1vs1</div>
            <div class="panel-body">
                <table id="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Retador</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Retado</th>
                        <th>Fecha</th>
                        <th>Mapa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in pendientes %}
                        <tr>
                            <td>{{ elem.user1 }}</td>
                            <td><a href=""><img id="imagenReto" src="{{ elem.us1Imagen }}"/></a></td>
                            <td><img id="imagenVs" src="/imagenes/vs.png"/></td>
                            <td><a href=""><img id="imagenReto" src="{{ elem.us2Imagen }}"/></a></td>
                            <td>{{ elem.user2 }}</td>
                            <td>{{ elem.fecha }}</td>
                            <td>{{ elem.mapa }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Últimos retos jugados</div>
            <div class="panel-body">
                <table id="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Retador</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Retado</th>
                        <th>Fecha</th>
                        <th>Mapa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in ultimosJugados %}
                        <tr>
                            <td>{{ elem.user1 }}</td>
                            <td><img id="imagenReto" src="{{ elem.us1Imagen }}"/></td>
                            <td id="resEq"><b>{{ elem.resUs1 }}</b></td>
                            <td><img id="imagenVs" src="/imagenes/vs.png"/></td>
                            <td id="resEq"><b>{{ elem.resUs2 }}</b></td>
                            <td><img id="imagenReto" src="{{ elem.us2Imagen }}"/></td>
                            <td>{{ elem.user2 }}</td>
                            <td>{{ elem.fecha }}</td>
                            <td>{{ elem.mapa }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
