{%extends "base.twig" %}

{% block titulo %}
    CSGOPlay | Solicitudes
{% endblock %}

{% block contenido %}
    <div class="col-md-4 col-md-offset-4" id="h2Centrado">
        <h1>Solicitudes de admisión</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" id="primerDiv">
        {% if tieneEquipo=='ok' %}
            <div class="alert alert-danger" role="alert" id="h2Centrado">Este usuario ya ha sido admitido en otro equipo</div>
        {% endif %}
        <div class="row">
            <form action="/" method="POST">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Url Steam</th>
                            <th></th>
                        </tr>
                        {% for solicitud in solicitudes %}
                            <tr>
                                <td><img id="imagenUsuario" src="{{ solicitud.imagen }}" alt=""/></td>
                                <td>{{ solicitud.user }}</td>
                                <td>{{ solicitud.nombre }}</td>
                                <td>{{ solicitud.steam }}</td>
                                {% if solicitud.estado == 'pendiente' %}
                                    <td><button type="submit" name="botonAceptarSol" class="btn btn-success" value="{{ solicitud.id }}">Aceptar</button>
                                    <button type="submit" name="botonDenegarSol" class="btn btn-danger" value="{{ solicitud.id }}">Denegar</button></td>
                                {% endif %}
                                {% if solicitud.estado == 'aprobada' %}
                                    <td><span id="solicitudA"><b>Solicitud aprobada</b></span></td>
                                {% endif %}
                                {% if solicitud.estado == 'denegada' %}
                                    <td><span id="solicitudD"><b>Solicitud denegada</b></span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
